/* =============
  section-2
============= */



#section-2{

  text-align: center;

  @include md { display: grid; 
    grid-template-columns: 30% auto;
    grid-template-areas:
    "section-2-img ."
    "section-2-img section-2-content"
    "section-2-img ."; 
    text-align: center;}


  @include lg { display: grid; 
    grid-template-columns: 50% auto; 
    text-align: center;}

   @include xl{display: grid;
      grid-template-columns: auto 800px auto;
      text-align: center;}

  #section-2-img{

    img{
        width: 100%;
    }







}

}

