/* =============
  section-5
============= */


#section-5-img{

  img{
      width: 100%;
  }

}


#section-5{
  display: grid;
  grid-template-columns: 15px auto 15px;
  grid-template-areas: ". section-5-contain .";

  #section-5-contain{

    grid-area: section-5-contain;
  }

 
}

