/* =============
  section-2
============= */



#section-2 {


h2{
  font-family:  'Merriweather', serif;
  font-size: 2em;
}
  text-align: center;
  margin: 20px 0px 40px;


  @include md {
    #section-2-container {
      display: grid;
      grid-template-columns: 30% auto;
      grid-template-areas:
        "section-2-img ."
        "section-2-img section-2-content"
        "section-2-img .";
    }

    margin: 20px 50px;
  }


  @include lg {
    #section-2-container {
      display: grid;
      grid-template-columns: 50% auto;
      grid-template-areas:
        "section-2-img ."
        "section-2-img section-2-content"
        "section-2-img .";
    }

    margin: 20px 150px;
  }



  #section-2-img {
    img {
      width: 100%;
    }

    ;

    grid-area: section-2-img;

  }

  #section-2-content {

    grid-area: section-2-content;
  }

  hr {
    height: 5px;
    background-color: $brown;
  }

}