/* =============
  section-1
============= */

/* #section-1{img{width: 100%;}    */

#section-1 {
  margin-top: 5em;
  background-image: url('../img/Section-1/Hero.jpg');
  background-size: cover;
  background-position: bottom;
  height: 285px;

  @include md {
    background-position: left;
    height: 500px;
  }

  @include lg {
    height: 600px;
  }

}