/* =============
    Footer
============= */



footer {
    background-color: $brown;

    #footer-image {
        grid-area: logo;
        align-self: center;
    }

    #footer-copyright {
        color: white;
        grid-area: copyright;
        justify-self: right;
        padding-right: 20px;
        font-size: 2em;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "logo . copyright";

    @include md {
        #footer-image {
            justify-self: center;
        }

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: ". logo copyright";
    }
}