/* =============
    Header
============= */

/* =============
    Header
============= */

header {
    background-color: $brown;
    left: 0;
    
    top: 0;
    width: 100%;
    color: white;

    >div {
        display: grid;
        grid-template-areas: 
            "logo burger navi navi";
        
        grid-template-columns: 80% auto;

        @include lg {
            grid-template-areas: "logo nav nav nav";
            grid-template-columns: 20% auto;
        }

        #logo-container {
            grid-area: logo;
            padding: 10px;
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;
            padding: 0px;

            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color: $darkbrown;
            display: none;
            grid-area: navi;
            padding: 0px;

            @include lg {
                background-color: $blue;
                display: block !important;
            }
        }
    }
}
